* {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 1%;
    margin-top: 1%;
    background: rgb(28, 28, 28);
    color: white;
    transition: font-size 0.2s ease, transform 0.3s ease, color 0.3s ease, opacity 2s ease, left 0.5s ease, font-weight 1s ease;
    scrollbar-width: thin;
}

#main {
    opacity: 0;
}

h1 {
    text-align: center;
}
h1:hover{
    transform: scale(1.1);
}

#thinking {
    border-radius: 10px;
    margin-top: -1%;
    border: 3px dotted white;
    width: 50%;
    height: 5%;
    margin-left:25%;
}
#thinking:hover{
    cursor:grab;
    transform: scale(1.03);
}

h3, h2 {
    -webkit-text-stroke: 1px green;
}

h3:hover, h2:hover{
    transform: rotate(0.5deg);
    font-weight: bolder;
}

a {
    font-size: large;
    font-weight: bold;
    text-decoration: wavy underline 1.5px green;
}

a:hover {
    cursor: pointer;
    font-size: larger;
    color: rgb(126, 248, 3);
}

iframe {
    border-radius: 2%;
    border: 5px solid black;
}

#intro {
    border: 2px dotted green;
    border-radius: 10px;
    font-weight: bold;
    font-style: italic;
}

#scratchCode{
    font-size: small;
    font-weight: bold;
    -webkit-text-stroke: 0.2px green;
}

hr {
    width: 30%;
    border: 1.5px rgba(192, 191, 191, 0.426);
    border-style:dashed;
}

hr:first-of-type{
    width: 98%;
    margin-left:0px;
    border: solid 1px white;
}

#ctf {
    text-align: center;
    font-size: 170%;
}
#ctfParent {
    text-align: center;
}
#ctfParent:hover{
    transform: rotate(3deg);
}

#ctf:hover {
    font-size: 200%;
}

.album {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5%;
    z-index: 1;

    margin-left: 5%;
    border: 1px solid white;
    border-radius: 10px;
    width: 90%;
    height: 500px;
}


#albumTitle {
    margin-top: 2%;
    margin-left: 2%;
}

#description {
    margin-top: 25%;
    height: 60%;
    font-weight: bold;
    background: transparent;
}

#description:hover {
    transform: scale(1.05);
}

#name {
    text-align: right;
}

#lCol {
    position: relative;
    width: 40%;      /* fixed column width */
}
#rCol{
    height: 100%;
    width: 37%;
}

#cover {
    position: relative;
    width: 360px;
    height: 360px;
    margin-left: 20px;
    margin-top: 20px;
    object-fit: cover;
    border-radius: 5px;
    z-index: 3;
    background-color: transparent;
    pointer-events: none;
}

#cd {
    position: absolute;
    width: 370px;
    height: 370px;
    top: 70px;
    left: 75px;
    z-index: 2;
    background-color: transparent;
    animation: spin 4s linear infinite;
}



#cd:hover {
    left: 40%;
    cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}