/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #272326 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c9c8c8; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c9c8c8; background-color: rgba(242,206,210,0.4)}
.cm-s-nqqwal { background-color: #272326; color: #c9c8c8; }
.cm-s-nqqwal span.cm-builtin { color: #D1B0B5; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #7c6570; }
.cm-s-nqqwal span.cm-keyword { color: #D1B4CB; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #D8B6D9; }
.cm-s-nqqwal span.cm-def { color: #E9BACA; }
.cm-s-nqqwal span.cm-variable { color: #F2CED2; }
.cm-s-nqqwal span.cm-variable-2 { color: #E9BACA; }
.cm-s-nqqwal span.cm-string { color: #D1B0B5; }
.cm-s-nqqwal span.cm-string-2 { color: #D1B0B5; }
.cm-s-nqqwal span.cm-number { color: #E9BACA; }
.cm-s-nqqwal span.cm-tag { color: #D1B4CB; }
.cm-s-nqqwal span.cm-property { color: #F2CED2; }
.cm-s-nqqwal span.cm-attribute { color: #F2CED2; }
.cm-s-nqqwal span.cm-qualifier { color: #D8B6D9; }
.cm-s-nqqwal span.cm-meta { color: #E9BACA; }
.cm-s-nqqwal span.cm-header { color: #D1B4CB; }
.cm-s-nqqwal span.cm-operator { color: #D1B4CB; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(233,186,202,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #D1B4CB; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #272326); }
